#winnerTrumpDiv, #scoreDiv, #table {
    margin: auto;
    height: 40px;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}

#winnerSpan {
    width: 50%;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

#trumpSpan {
    width: 50%;
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;

}

.td-name {
    width: 150px;
    border: solid 1px;
    text-align: center;
}

.td {
    width: 150px;
    border: solid 1px;
    text-align: center;
    font-size: 70px;
}